{% load static %}

<link href="{% static 'pong/css/chat.css' %}" rel="stylesheet">

<div class="sub-header">
	<div class="link_chat">
		<a href="{% url 'add_chat' %}" alt="ADD_CHAT">ADD CHAT</a>
		<a href="{% url 'join_chat' %}" alt="JOIN_CHAT">JOIN CHAT</a>
		<a href="{% url 'leave_chat' %}" alt="LEAVE CHAT">LEAVE CHAT</a>
	</div>
	<div class="form_chat">
		<h1>BLOCK A USER</h1>
		{% if is_solo %}
			<form action="{% url 'chat_solo' %}" method="post">
				{% csrf_token %}
				<input type="text" name="user_target" placeholder="PSEUDO">
				<input type="submit" value="BLOCK">
			</form>
		{% else %}
			<form action="{% url 'chat_room' chat_name %}" method="post">
				{% csrf_token %}
				<input type="text" name="user_target" placeholder="PSEUDO">
				<input type="submit" value="BLOCK">
			</form>
		{% endif %}
		{% if message_block %}
			<p class="message_form_chat">{{ message_block }}</p>
		{% endif %}
	</div>
</div>
<section>
	<aside>
		{% if chat_info.list_of_chats %}
			<ul class="text-center">
				{% for chats in chat_info.list_of_chats %}
					<li class="clickable-element"><a href="{% url 'chat_room' chats.name %}">{{chats.name}}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</aside>
	<article>
		<div class="chat"><!--
		--><ul class="text-center msg_form">
			</ul>
		</div>
		<div class="msg">
			<form action="{% url 'chat_room' chat_name %}" method="post">
				{% csrf_token %}
				<input type="text" name="message_content" placeholder="MESSAGE">
				<input type="submit" value="SEND">
			</form>
		</div>
	</article>
</section>
<script>
	var oterhProfileUrlBase = "{% url 'other_profile' 'SENDER_PLACEHOLDER' %}";
</script>
<script>
	// document.addEventListener('DOMContentLoaded', (event) => {
		var elements = document.querySelectorAll('.clickable-element');
		elements.forEach(element => {
			element.addEventListener('click', () => {
				elements.forEach(el => el.classList.remove('gray-background'));
				element.classList.add('gray-background');
			});
		});
		var messageInfo = JSON.parse('{{ message_info|safe|escapejs }}');
		var chatName = JSON.parse('{{ chat_name_json|safe|escapejs }}');
		console.log("message_info = ", messageInfo);
		console.log("chat name = ", chatName)
		chatName = chatName["chat_name"]
		// var channels = Array.from(document.querySelectorAll('aside ul li'));
		// channels.forEach( e => {
		// 	e.addEventListener('click', () => {
		// 		console.log("e = ", messageInfo[e.textContent]);
		var chat = document.querySelector(".chat ul");
		chat.innerHTML = "";
		messageInfo[chatName].forEach((msg) => {
			var li = document.createElement("li");
			var a = document.createElement("a");
			// var div = document.createElement("div");
			li.textContent = msg.message;
			a.textContent = msg.sender;
			if (msg.sender != document.querySelector('a[alt="Profil"] span').textContent)
			{
				li.setAttribute("class", "toi")
			}
			else
			{
				li.setAttribute("class", "moi")
			}
			// div.setAttribute("class", "msg_form");
			chat.appendChild(li);
			chat.appendChild(a);
		})
		var displayChatInterval = setInterval(function () {
			console.log(" --------- 1000ms ---------");
			$.ajax({
				url: '/render_chat/' + chatName,
				success: function(receive_data)
				{
					console.log("receive_data = ", receive_data)
					if (receive_data['chat_found'])
					{
						// var messageUpdate = JSON.parse('{{ update_message|safe|escapejs }}')
						// console.log("messageUpdate = ", messageUpdate)
						chat.innerHTML = "";
						// console.log("receive_data['update_message'] =", receive_data['update_message']);
						// console.log("receive_data['update_message'].chatName = ", JSON.parse(receive_data['update_message'].chatName))
						
						receive_data['update_message'][chatName].forEach((msg) => {
							var li = document.createElement("li");
							var a = document.createElement("a")
							li.textContent = msg.message;
							a.textContent = msg.sender;
							if (msg.sender != document.querySelector('a[alt="Profil"] span').textContent)
							{
								li.setAttribute("class", "toi")
							}
							else
							{
								li.setAttribute("class", "moi")
							}
							// var goodUrl = temp.slice(0, 2) + urlTemp + temp.slice(2)
							// console.log("urlTemp = ", urlTemp)
							// console.log("goodUrl = ", goodUrl)
							// a.setAttribute("href", "{% url 'oterh_profile' msg.sender }")
							var profileUrl = oterhProfileUrlBase.replace('SENDER_PLACEHOLDER', encodeURIComponent(msg.sender));
							// if (profileUrl.charAt(0) == "/")
							// {
							// 	profileUrl = profileUrl.substring(1)
							// }
							console.log("profileUrl = ", profileUrl, "encodeURIComponent(msg.sender) = ", encodeURIComponent(msg.sender))
							a.setAttribute("href", profileUrl)
							console.log("a = ", a)
							chat.appendChild(li);
							chat.appendChild(a);
						})
					}
				}
			})
		}, 3000)
		// 	})
		// })
	// });
</script>
