{% load static %}

<link href="{% static 'pong/css/join_chat.css' %}" rel=stylesheet>

<h1 class="title">JOIN A CHAT</h1>
<div class="body_content">
	<div class="action-part">
		<section>
			<h1>CHAT NAME</h1>
			<form acion="{% url 'join_chat' %}" method="post">
				{% csrf_token %}
				<input type="text" name="chat_name" placeholder="NAME">
				<input type="submit" value="Confirmed">
			</form>
		</section>
		<section>
			<h1>AVAILABLE CHAT</h1>
			{% if chat_info.list_of_chats %}
				<ul>
					{% for chat in chat_info.list_of_chats %}
						<li>{{ chat.name }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>NO CHAT AVAILABLE</p>
			{% endif %}
		</section>
	</div>
	{% if chat_info.error_message %}
	<p class="error_message">{{ chat_info.error_message }}</p>
	{% endif %}
	{% if chat_info.message %}
		<p class="message">{{ chat_info.message }}</p>
	{% endif %}
</div>

